{% extends 'base.html.twig' %}

{% block title %}Front!{% endblock %}

{% set var = 'ig' %}

{% block body %}
    <div class="container">
        <h1>Form</h1>

        {{ form_start(form) }}
        <div class="col-2">
            {{ form_label(form.description) }}
        </div>
        <div class="col-10">
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        {{ form_row(form.telephone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.liste) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.enregistrer) }}

        {{ form(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}